
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background-color: rgb(197,197,197);
}

.container{
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

.container-in{
    display: flex;
    flex-direction: column;
}

img{
    width: 100%;
    max-width: 1500px;
    height: auto;
    display: block;
    margin: auto;
}

.rightmenu ul{
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.rightmenu li{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style-type: none;
    text-align: center;
    margin: 5px;
    padding: 20px;
    background-color: rgb(61, 16, 16);
    border: 2px solid gray;
    transition: 0.3s;
}

.rightmenu li:hover{
    transform: scale(1.05);
}

.rightmenu a{
    text-decoration: none;
    color: white;
}

.rightmenu a:hover{
    color: rgb(19, 68, 21);
}

.dropdown{
    position: relative;
    background-color: rgb(61, 16, 16);
    width: 250px;
    max-width: 100%;
    padding: 13px;
    text-align: center;
    border: 2px solid gray;
    margin: 20px auto;
}

.dropdown-content{
    position: absolute;
    display: none;
    min-width: 140px;
    margin-left: 40px;
    background-color: bisque;
    box-shadow: 2px 8px 16px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown:hover .dropdown-content{
    display: block;
    background-color: rgb(160, 56, 56);
}

.dropdown-content a{
    color: black;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover{
    background-color: bisque;
     color: rgb(19, 68, 21);
}

.h1{
    width: 95%;
    margin: 20px auto;
    text-align: center;
    border-style: groove;
    background-color: rgb(83, 82, 82);
    color: black;
    padding: 20px;
}

.h1:hover{
    color: white;
}

.h2{
    text-align: center;
    margin: 20px auto;
    width: 95%;
    border-style: outset;
    background-color: rgb(231, 158, 48);
    padding: 10px;
}

.h3{
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 0;
}

.tuk{
    color: black;
}

.zruseni a{
    color: white;
}

i{
    color: white;
}

i:hover{
    color: rgb(228, 173, 72);
}

.zpatecka{
    margin: 20px;
}

footer{
    background-color: black;
    text-align: center;
    padding: 35px;
    margin-top: 40px;
    width: 100%;
    color: white;
}

footer:hover{
    color: rgb(134, 1, 1);
}

/* TABLET */
@media (max-width: 992px){

    .h3{
        font-size: 45px;
    }

    .rightmenu ul{
        flex-direction: column;
    }

    .rightmenu li{
        width: 100%;
    }
}

/* MOBIL */
@media (max-width: 768px){

    .h3{
        font-size: 32px;
    }

    .h1{
        width: 98%;
        padding: 10px;
    }

    .h2{
        width: 98%;
        margin: 10px auto;
    }

    p{
        font-size: 14px;
        line-height: 1.5;
    }

    .dropdown{
        width: 95%;
    }

    footer{
        padding: 20px;
    }
}


  
 







 


