
*{
    box-sizing: border-box;
    
}

body{
    margin: auto;
    background-color:  rgb(197,197,197);
}
.container{
    
    width: 1918px;
    margin: auto;
    
}

.container-in{
       display:flex;

}

.rightmenu ul{
    padding: 0em;
    display:flex;
    align-items:center;
    width: 98%;
   
    
    
  }

  .rightmenu li{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style-type:none;
    text-align: center;
    margin:auto;
    padding:20px;
    
    background-color: rgb(61, 16, 16);
    color: white;
    border: 2px solid gray;
    transition: 0.2s ease, transform 0.5s ease;

    
   
  }
  .rightmenu a:hover{
   color: rgb(19, 68, 21);
   transition: 0.2s;
     
    
  }
  .rightmenu a{
    text-decoration: none;
    color: white;
    
  }

  .rightmenu li:hover{
    transform:scale(1.4);
   
    transition: 0.5s;
  }
  
 .dropdown{
 
  position: relative;
  background-color:rgb(61, 16, 16) ;
  color: black;
  width: 27.5%;
  height: 5%;
  padding:13px;
  text-align: center;
   transition:0.5s ease, transform 0.5s ease;
   border: 2px solid gray;
 
 
  
  
  
 }
 .dropdown-content{
  position:absolute;
  display:none;
  min-width: 140px;
   box-shadow: 2px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px;
  margin-left: 6px;
  background-color: bisque;
  
  

 }
 .dropdown:hover .dropdown-content{
  display: block;
  background-color: rgb(160, 56, 56);
  box-shadow: 5px 2px 3px 4px;
  padding: 0;
  

 }
 .dropdown-content a {
  color: black;
  padding: 10px ;
  text-decoration: none;
  display:block;
}

.dropdown-content a:hover {
  background-color:bisque;
 
  
}
.dropdown:hover {
    color: black;
    transition: 0.5s;
  transform: scale(1.1);
 
    
}
.h1{
    font-family: serif;
    border: 2px transparent black;
    border-style:groove;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 5px;
    width: 98%;
    margin-top:0px ;
      transition: 1s ease, transform 0s ease;
      color: black;
      font-style: serif;
      background-color: rgb(83, 82, 82);
     
    
    
}
.h1:hover{
    background-color: rgb(83, 82, 82);
    transition: 1s ease;
    transform: scale(0.97);
    color: white;
    
    

}
i{
  color: white;
  width: 100%;
transition: 7s ease-out;
}

i:hover{
  color: rgb(228, 173, 72);
  
  transition: 0s ease;
}
.h2{
  text-align: center;
  margin-left: 60px;
  margin-right: 70px;
  margin-top: 20px;
  transition: 0.5s ease, transform 0.5s ease;
   border-style:outset;
   background-color:rgb(231, 158, 48);
   padding: 5px;
}
.h2:hover{
  transition: 0.5s;
  transform: scale(1.2);
  text-shadow: 2px 1px 5px;
}
footer{
  background-color: black;
  text-align: center;
  padding: 30px;
  transition: 5s ease;
  text-decoration: none;
  margin-top: 70px;
  height: 72.7px;
  width: 1320%;
  margin-left: -8px;
  
 
}
footer:hover{
   color: rgb(134, 1, 1);
    transition:ease 0.5s;
}
.zpatecka {
  margin-left: 8px;
  width: 50px;
}
img{
  height: 953px;
  width: 1500px;
}


  
 







 


